body {
    font-weight: bold;
    background-image: url(img/bg.jpg);
    margin: auto;
    width: 800px;
}

 /* Styling von Links */

a {
    text-decoration: none;
}


/* Allgemeines Styling der Farben/Ränder */

a:link, a:visited {
    color: #fff;
}

a:hover, a:active {
    background-color: #D65C33;
}

nav, footer, #categorys ul li {   
    background-color: #19356C;
    border-radius: 5px;
}

/* Styling vom Header */

header {
    width: 100%;
    color: white;
    
    text-align: center;
}

header img {
}


/* Styling von der Navigation (Home etc) */

nav {
    height: 40px;
}

header nav ul {
    list-style: none;
    margin: 0;    
}

header nav ul li {
    display: inline; 
}

header nav ul a:link, header nav a:visited {
    display: inline-block;
    height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}


/* Styling vom Suchfeld */

header nav ul input {
}


/* Styling von den Kategorien */

#categorys ul {
    margin-left: auto;
    margin-top: 2px;
    color: white;
    width: 700px;
    list-style: none;
}

#categorys ul li {
    text-align: center;
    padding: 10px 0px;
    display: inline-block;
    width: 110px;
}

#categorys ul li input {
    display: inline-block;
}

/* Styling vom Footer */


footer {
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

footer p {
    color: #FFF;
}

footer a:link{
    display: inline-block;
    height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    
}


/* Styling vom Kalender */


table, th, td {;
    border-collapse: collapse;
}

#date-memory-row{
    display: none;
}

table{
    border-collapse: separate;
    text-align: center;
    color: black;
    margin: auto;
}

table a:link, table a:visited {
    color: black;
}

td{
    background-color: #fff;
    display:table-cell;
    border-style: none;  
}


.calendar_link {
    display: inline-block;
    height: 20px;
    width: 40px;
    padding: 15px 20px;    
}

.calendar_head, .calendar_day, .calendar_entry {
    height: 50px;
    width: 80px;
}

.calendar_head_month {
}

.calendar_day {
}

.calendar_entry {
}

#myform{
    padding: 50px 200px;
}
