


/* -------------------------- Styling der Main-Seite -------------------------- */
html {
    background-image: url(img/skulls.png);


}
body {
    font: 16px arial, sans-serif;
    background-color: white;
    margin: auto;
    width: 800px;
    -webkit-box-shadow: 1px 1px 65px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 65px 14px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 65px 14px rgba(0,0,0,0.75);
   border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

 /* Styling von Links */

a {
    text-decoration: none;
}

.clear{
    clear:both;
}

/* -------------------------- Styling der Farben/Ränder -------------------------- */

a:link, a:visited {
    color: #fff;
}

a:hover, a:active {
    background-color: #D65C33;
}

#categorys ul li, nav ul li ul {   
    background-color: #196C2F;
    border-radius : 5px;
}


/* Styling vom Header */

header {
    width: 100%;
    color: white;
}

/* -------------------------- Styling von der Überschrift -------------------------- */

header img{
    float: left;
    width: 100%;
}

#überschrift{
    font-size: 50px;
}

/* -------------------------- Styling von der Navigation -------------------------- */


nav {
    background-color: #196C2F;
    height: 40px;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
    
}

header nav ul {
    list-style: none;
    margin: 0;  
}

header nav ul li {
    display: inline-block; 
}

header nav ul a:link, header nav a:visited {
    display: inline-block;
    height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}


nav ul li:hover > ul {
    visibility: visible;
}

nav ul li ul{
    width: 116px;
    padding: 0;
    text-align: left;
    list-style: none;
    visibility: hidden;
    position:absolute;
    background-color: #196C2F;
}

nav ul li ul li{
    display: block;
    width: 100px;
    padding: 10px;
}

nav ul li ul li a:hover{
    color: #333;
}

/* Styling vom Suchfeld */

nav #suche{
    padding-top: 10px;
    padding-right: 10px;
    display: inline;
    float: right;
}


/* -------------------------- Styling vom Footer -------------------------- */


footer {
    background-color: #196C2F;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 40px;
}

footer p {
    margin: 0;
    color: #FFF;
}

footer a:link{
    display: inline-block;
    height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    
}


/* --------------------Styling vom Haupt (Monats) Kalender -------------------- */

#Kalender {
    background-image: url(img/texturetastic_gray.png)

}

#monatskalender, th, td {;
    border-collapse: collapse;
    padding-left: 0;
    padding-right: 0;
    
}

#date-memory-row{
    display: none;
}

#monatskalender{
    border-collapse: separate;
    text-align: center;
    color: black;
    margin: auto;
    
}

#monatskalender a:link, table a:visited {
    color: black;
}

td{
    background-color: #fff;
    display:table-cell;
    border-style: none;  
}

.calendar_head, .calendar_day, .calendar_entry, .calendar_link {
    line-height: 70px;
    display: table-cell;
    height: 75px;
    width: 120px;
}

.calendar_head_month {
}

.calendar_day {
}

.calendar_entry {
}

#myform{
    padding: 50px 200px;
}

/* --------------------------- Styling vom Jahres-Kalender ------------------------ 


#jahreskalender{
    text-align: center;
    color: black;
    margin: auto;
}

.jahreskalender{
    border: 1px  black;
    margin: 8px;
    display: inline-block;
    border-collapse: collapse;
}

.yearcalendar_head, .yearcalendar_day, .yearcalendar_entry, .yearcalendar_link, .yearcalendar_day{
    border: 1px solid black;
    height: 23px;
    width: 24px;
}

.calendar_head_month {
    height: 20px;
}

.yearcalendar_entry {
}

#myform{
    padding: 20px 200px;
}
*/

/* -------------------------- Styling der Team-Seite -------------------------- */

article {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    width: 100%;
    height: auto;
}
article a:link {
    color: red;
}
article a:visited {
    color: red;
}
.articleheader{
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

.article{
    padding: 20px;
}
#Impressum {
        padding-left: 20px;
    padding-right: 20px;
}

/* -------------------------- Styling der Syleguide-Seite -------------------------- */

#greenbg {
    display: inline-block;
    float: right;
    width: 100px;
    height: 20px;
    background-color: #196C2F;
}

#orangebg {
    display: inline-block;
    float: right;
    width: 100px;
    height: 20px;
    background-color: #D65C33;
}

#redbg {
    display: inline-block;
    float: right;
    width: 100px;
    height: 20px;
    background-color: red;
}

#kalenderbg {
    display: inline-block;
    float: right;
    width: 100px;
    height: 20px;
    background-image: url(img/texturetastic_gray.png);
}

#htmlbg {
    display: inline-block;
    float: right;
    width: 100px;
    height: 20px;
    background-image: url(img/skulls.png);
}

/* -------------------------- Styling der Terminansicht-Seite -------------------------- */

#terminansicht{
    background-color: white;
    padding: 200px 70px;
}


/* -------------------------- Styling der Event-Seite -------------------------- 

#eventanzeige{
    background-color: white;
    padding: 200px 70px;
}

*/
















