body{
    
}
#titel {    
    font-family:inherit;
    width: 1024px;
    font-size: 90px;   
    margin-bottom: -75px;
}
#titel h2 {
    text-align: left;
    font-size: 50px;
}
#Navigation {
    font-size: 30px;
    float: right;
    height: 70px;
    font-style: italic;
    color: #b7b6b6;
    background-color: #e1e1e1;
    border: solid 3px;
    border-color: #b7b6b6;  
}
#Navigation li{
    list-style-type: none;
    display: inline;
    text-align: center;
    line-height: 70px;
}
#Navigation a {
    margin: 0px;
    color: #ffffff;
    text-decoration: none; 
    padding: 20px 15px;
}
#Navigation a:hover {
    background-color: #b7b6b6;
    color: #ffffff;
}

.inhaltleft {
    width: 45%;
    height: 200px;
    float: left;
    border: solid 2px;
    border-color: #b7b6b6;
    border-radius: 5px;
    overflow:hidden;
    
    }
#inhaltright {
    float: left;  
    width:45%;
    height: 200px;
    border: solid 2px;
    border-color: #b7b6b6;
    border-radius: 5px;
}
